// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.nav_text{
    text-transform: uppercase;
    font-family: $titlesFont;
    font-weight: $titleWeight;
    color:$textColor;
    
}
.nav_color{
    background-color: $navColor;
}

.body_color{
    background-color: $backgroundColor;
}

.title_header{
    color:$textColor;
    font-size: 4vw;
    text-align: center;
    padding: 0.5rem;
}
.pMain{
    color:$textColor;
    font-size: 3vw;
    text-align:left;
    padding: 0.5rem;
    margin: 1rem;
}